/* 설정되어있는 default 값을 상쇄시키기 위해서 따로 적용해준다. */
body,
html {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

body {
  height: 400%;
  background-color: gray;
}

/* position 1. fixed */
#boxOne {
  height: 300px;
  width: 300px;
  background-color: khaki;
  /* 모든 박스들은 default 값으로 포지션이 static임 */
  position: static;
}
#boxTwo {
  height: 300px;
  width: 300px;
  background-color: green;
  /* 포지션 fixed는 element가 그 위치에 오버랩해서 고정되기 때문에 스크롤을해도 볼 수 있다. */
  position: fixed;
}

/* position 2.absolute */
/* 만약, 부모 박스가 없으면 박스는 본문 body에 맞춰서 포지션을 잡는다. */
/* 반대로 부모 박스라고 relative포지션을 설정하면 박스는 그에따라 상대해서 absolute포지션을 잡는다.*/
/*(먼저 부모 element에게 relative포지션을 설정) */
.abs-box {
  width: 300px;
  height: 300px;
  background-color: yellow;
  margin-left: 400px;
  position: relative;
}
.abs-child {
  width: 100px;
  height: 100px;
  background-color: teal;
  position: absolute;
  right: 0;
}
