body,
html {
  padding: 0;
  margin: 0;
  background-color: green;
  height: 100%;
}

/* boder에서 안쪽으로의 간격 -> padding */
/* boder에서 바깥쪽으로의 간격 -> margin */
.box {
  background-color: yellowgreen;
  width: 50%;
  height: 50%;
  /* padding-top: 50px;
  padding-left: 50px;
  margin-top: 50px;
  margin-left: 50px; */

  /* 위의 주석과 달리 한번에 적용하고 싶을 경우  */
  /* padding이후 첫번째로 작성하는 숫자-> 상,하
  두번째로 작성하는 숫자 -> 좌,우  
  모든 방향 다르게 적용시 상-우-하-좌 순으로 숫자를 입력하면 된다.*/
  padding: 20px 10px 5px 2px;
}
.inside-box {
  background-color: gold;
  width: 50%;
  height: 50%;
  /* border-width: 5px;
  border-color: red;
  border-style: dashed; */

  /* border를 한번에 적용할 경우 폭, 스타일, 색상 순으로 작성 */
  border: 5px dashed red;
}
